.container {
  background-color: #c00025;
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;
}
.display {
  margin-top: 25px;
  height: 100px;
  width: 450px;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8%;
  font-size: 5rem;
}

button {
  background-color: teal;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 4px 4px black;
  border: purple; /* <<-- WTF */
}

.container {
  height: 550px;
  width: 500px;
}

.App {
  display: flex;
}

.specials {
}

.numbers {
  width: 50%;
}
.operators {
  width: 25%;
  margin-right: 5px;
}
.operators button {
  display: flex;
  justify-content: space-around;
}
